@font-face {
  font-family: Excon;
  src: url(/fonts/Excon-Regular.woff);
}

@font-face {
  font-family: Excon;
  src: url(/fonts/Excon-Bold.woff);
  font-weight: bold;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Excon, sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
